---
layout: default
---
<div class="projects">

  {% for projectHash in site.data.projects %}
    {% assign name = projectHash[0] %}
    {% assign project = projectHash[1] %}

      <div class="project {{ name }}">
        <img class="icon" src="{{ project.icon }}" alt="{{ project.title }} Icon" width="128" height="128">
        <h3 class="title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
        <p class="description">{{ project.description }}</p>
        <p class="code"><a href="https://github.com/tilltheis/{{ project.repository }}">{{ project.technology }}, {{ project.year }}</a></p>
        {% if project.preview %}
        <img class="preview" src="{{ project.preview }}" alt="{{ project.title }} Preview" />
        {% endif %}
      </div>

  {% endfor %}


</div>
