---
---

$fgColor: #303f4a; // black
$bgColor: #f8fcff; // white
$borderColor: #e5e6e9; // grey

$primaryColor1: #e8fbe1; // green // nav hover bg
$primaryColor2: #ebf7fe; // blue // project hover bg
$accentColor1: #ece3fc; // purple // project source hover bg
$accentColor2: #fffefc; // yellow // footer bg

// project detail pages
$primaryButtonColor: #bcf2cd; // green // project page: primary button
$secondaryButtonColor: #d1e8e5; // teal // project page: secondary button + info bg

@font-face {
  font-family: "PT Sans";
  src: url("/assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("/assets/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: $bgColor;
  color: $fgColor;
  font-size: 16px;
  font-family: "PT Sans", "Helvetica Neue", "sans-serif";
  -moz-osx-font-smoothing: grayscale; // don't let ff draw fonts too bold
  // position: relative;
}

header {
  font-family: "Lato", "Helvetica Neue", "sans-serif";

  &.page-header {
    border-bottom: 1px solid $borderColor;
    border: none;
  }

  h1 {
    letter-spacing: 1px;
  }

  a,
  a:active,
  a:hover,
  a:focus {
    color: $fgColor;
    text-decoration: none;
    background: none;
  }

  // overflow: visible;
  // position: static;
  // width: 100vw;
  // left: 0;
  nav {
    // position: relative;
    // position: absolute;
    // left: 0;
    // right: 0;
    // padding: 0 auto;
    // left: 0;

    height: 42.84px;
    // position: relative;

    .nav {
      // background-color: #bcf2cd;
      background: lighten($primaryColor1, 3);
      background: lighten($primaryColor1, 0);

      position: absolute;
      left: 0;
      padding-left: calc((100vw - 1140px) / 2);

      li {
        width: calc(1140px / 4);
      }
    }
  }

  nav .nav li {
    // position: absolute;

    a {
      // margin-right: 3px;
      color: $fgColor;
      background: transparent;
      // background: lighten($primaryColor1, 3);
    }

    a:hover,
    a:focus {
      background: $primaryColor1;
      color: $fgColor;
      background: darken($primaryColor1, 10);
      font-weight: bold;
      letter-spacing: 0.2px;
    }

    a:active {
      background: darken($primaryColor1, 10);
      background: darken($primaryColor1, 20);
    }
  }
}

.summary {
  .icon {
    text-align: center;
  }

  .actions {
    .btn-primary {
      background-color: $primaryButtonColor;
      color: $fgColor;
      border-color: darken($primaryButtonColor, 50);
    }
    .btn-primary:hover,
    .btn-primary:focus {
      background-color: darken($primaryButtonColor, 10);
    }
    .btn-primary:active {
      background-color: darken($primaryButtonColor, 20);
      color: $bgColor;
    }

    .btn-default {
      background-color: $secondaryButtonColor;
      border-color: darken($secondaryButtonColor, 50);
    }
    .btn-default:hover,
    .btn-default:focus {
      background-color: darken($secondaryButtonColor, 10);
    }
    .btn-default:active {
      background-color: darken($secondaryButtonColor, 20);
      color: $bgColor;
    }
  }
}

main {
  a {
    color: $fgColor;
    text-decoration: none;
    border-bottom: 1px solid $accentColor1;
  }

  a:hover,
  a:focus {
    color: $fgColor;
    text-decoration: none;
    background-color: $accentColor1;
    border-bottom: 1px solid $accentColor1;
  }

  a:active {
    color: $fgColor;
    text-decoration: none;
    background-color: darken($accentColor1, 10);
    border-bottom: 1px solid darken($accentColor1, 10);
  }

  .alert-info {
    background-color: lighten($secondaryButtonColor, 7);
  }

  ul.keywords li:before {
    content: "#";
  }

  .projects {
    .project {
      border-color: $borderColor;
      position: relative;
      background: transparent;
      // margin-bottom: 20px;
      box-shadow: none;

      // display: inline-block;
      // float: left;
    }

    // @media (min-width: 768px) {
    //   @supports (display: grid) {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     grid-column-gap: 20px;
    //     grid-row-gap: 20px;

    //     .project {
    //       margin: 0;
    //     }
    //   }
    // }

    // display: flex;
    // flex-wrap: wrap;

    h3 {
      font-family: "Lato";
      font-size: 20px;
      font-weight: bold;
      margin-top: 0;
    }

    img {
      margin: 0 10px 0 0;
      float: left;
    }

    p {
      margin: 0;
      margin-bottom: 20px;
    }

    small {
      position: absolute;
      bottom: 10px;
      // top: calc(1140px / 12 * 2 - 10px);
      right: 10px;
    }

    display: grid;
    gap: 10px 10px;

    // grid-template-columns: repeat(12, calc(1140px / 12));
    grid-template-columns: repeat(10, calc((1140px - 9 * 10px) / 10));
    // grid-template-rows: repeat(12, calc(1140px / 12));

    // grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    // grid-auto-flow: dense;
    // overflow: hidden;

    // grid-template-rows: masonry;

    .project {
      border: none;
      margin-bottom: 0;
      // border-width: 0 0 1px 0;
      // padding-bottom: 10px;
      // aspect-ratio: 1/1;

      grid-column: span 3;
      grid-row: span 2;

      &:nth-child(1) {
        grid-column: span 4;
        grid-row: span 2;
        grid-row: span 4;
      }
      &:nth-child(2) {
        grid-column: span 3;
        grid-row: span 2;
      }
      &:nth-child(4) {
        grid-column: span 4;
        grid-row: span 2;
        grid-column: span 6;
      }
      &:nth-child(5) {
        grid-column: span 4;
        grid-row: span 2;
      }
      &:nth-child(6) {
        grid-column: span 4;
        grid-row: span 2;
      }
      &:nth-child(7) {
        grid-column: span 6;
        grid-row: span 2;
        grid-row: span 6;
        grid-row: 5 / span 6;
      }
      &:nth-child(8) {
        grid-column: span 4;
        grid-row: span 2;
      }
    }

    .project > a {
      &,
      &:hover,
      &:active,
      &:focus {
        display: block;
        height: 100%;
        border: none;
        background: lighten($primaryColor2, 2);
        background: lighten($primaryColor2, 1);
        background: $primaryColor2;
        background: adjust-color($primaryColor2, $alpha: -0.3);
        // background: transparent;
      }

      &:hover,
      &:focus {
        background: $primaryColor2;
        color: $fgColor;
        background: darken($primaryColor2, 10);
      }

      &:active {
        background: darken($primaryColor2, 10);
        border-color: darken($borderColor, 10);
        background: darken($primaryColor2, 20);
      }
    }
  }

  .pileThePieces {
    #field {
      background: url(/pile-the-pieces/pile-the-pieces/img/field.png);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    #nextPiece {
      background: url(/pile-the-pieces/pile-the-pieces/img/field.png);
      width: 80px;
      height: 80px;
      margin: auto;
    }

    #game {
      position: relative;
      width: 216px;
      height: 416px;
      vertical-align: middle;
    }

    #status {
      width: 200px;
      position: absolute;
      top: 181px;
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
      color: #fff;
      height: 38px;
      line-height: 30px;
      font-size: 30px;
      vertical-align: middle;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-width: 1px 0;
    }

    h4 {
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
}

footer {
  .well {
    text-align: left;
    background: $accentColor2;
  }

  text-align: center;
  margin: 20px 0;
}
