body {
  color: #303f4a;
  font-size: 16px;
  font-family: "PT Sans", "Helvetica Neue", "sans-serif";
}

header {
  font-family: "Lato", "Helvetica Neue", "sans-serif";
}

header h1 {
  letter-spacing: 1px;
}

.project h3 {
  font-family: "Lato";
  font-size: 20px;
  font-weight: bold;
}

.projects a {
  display: block;
}

a, a:focus, .nav li a, .nav li a:focus {
  color: #303f4a;
  background: transparent;
}

a:hover, .nav li a:hover {
  background: #eef2f5;
  color: #303f4a;
}

a:active, .nav li a:active {
  background: #e8f3f9;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

.panel-default, .panel-default:active {
  background: transparent;
}

.well {
  background: #eef2f5;
}

footer {
  text-align: center;
}