---
---

$fgColor: #303f4a; // black
$bgColor: #f8fcff; // white
$borderColor: #e5e6e9; // grey

$primaryColor1: #e8fbe1; // green // nav hover bg
$primaryColor2: #ebf7fe; // blue // project hover bg
$accentColor1: #ece3fc; // purple // project source hover bg
$accentColor2: #fffefc; // yellow // footer bg

// project detail pages
$primaryButtonColor: #bcf2cd; // green // project page: primary button
$secondaryButtonColor: #d1e8e5; // teal // project page: secondary button + info bg

$mediumBreakpoint: 650px;
$largeBreakpoint: 1005px;

@font-face {
  font-family: "PT Sans";
  src: url("/assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("/assets/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: $bgColor;
  color: $fgColor;
  font-size: 16px;
  font-family: "PT Sans", "Helvetica Neue", "sans-serif";
  -moz-osx-font-smoothing: grayscale; // don't let ff draw fonts too bold
}

header {
  font-family: "Lato", "Helvetica Neue", "sans-serif";

  &.page-header {
    border-bottom: 1px solid $borderColor;
  }

  h1 {
    font-size: 42px;
    letter-spacing: 2px;
    margin: 20px 0;
  }

  a,
  a:active,
  a:hover,
  a:focus {
    color: $fgColor;
    text-decoration: none;
    background: none;
  }

  nav {
    font-size: 18px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      column-gap: 5px;
      justify-content: space-between;

      li {
        a {
          padding: 10px;
          display: block;
          color: $fgColor;
        }

        a:hover,
        a:focus {
          background: $primaryColor1;
          color: $fgColor;
        }

        a:active {
          background: darken($primaryColor1, 10);
        }
      }

      @media (min-width: $mediumBreakpoint) {
        column-gap: 0;

        li {
          flex-grow: 1;
          flex-basis: 0;
        }
      }
    }
  }

  nav .nav li {
    a {
      color: $fgColor;
      background: transparent;
    }

    a:hover,
    a:focus {
      background: $primaryColor1;
      color: $fgColor;
    }

    a:active {
      background: darken($primaryColor1, 10);
    }
  }
}

.summary {
  .icon {
    text-align: center;
  }

  .actions {
    .btn-primary {
      background-color: $primaryButtonColor;
      color: $fgColor;
      border-color: darken($primaryButtonColor, 50);
    }
    .btn-primary:hover,
    .btn-primary:focus {
      background-color: darken($primaryButtonColor, 10);
    }
    .btn-primary:active {
      background-color: darken($primaryButtonColor, 20);
      color: $bgColor;
    }

    .btn-default {
      background-color: $secondaryButtonColor;
      border-color: darken($secondaryButtonColor, 50);
    }
    .btn-default:hover,
    .btn-default:focus {
      background-color: darken($secondaryButtonColor, 10);
    }
    .btn-default:active {
      background-color: darken($secondaryButtonColor, 20);
      color: $bgColor;
    }
  }
}

.root {
  min-width: 320px;
  max-width: 1140px;

  padding: 0 15px;
  margin: 0 auto;
}

main {
  .alert-info {
    background-color: lighten($secondaryButtonColor, 7);
  }

  ul.keywords li:before {
    content: "#";
  }

  .projects {
    @media (min-width: $mediumBreakpoint) {
      display: grid;
      gap: 10px;
      grid-template-areas:
        "tft-comps           tft-comps        "
        "typed-rescue        typing-challenge "
        "blocks              blocks           "
        "fullscreen-clock    pile-the-pieces  "
        "propositional-logic timetable-widget "
        "bachelor-thesis     bachelor-thesis  "
        ;
      grid-template-columns: repeat(2, 1fr);

      .tftComps {
        grid-area: tft-comps;
      }
      .typingChallenge {
        grid-area: typing-challenge;
      }
      .typedRescue {
        grid-area: typed-rescue;
      }
      .blocks {
        grid-area: blocks;
      }
      .fullscreenClock {
        grid-area: fullscreen-clock;
      }
      .pileThePieces {
        grid-area: pile-the-pieces;
      }
      .propositionalLogic {
        grid-area: propositional-logic;
      }
      .bachelorThesis {
        grid-area: bachelor-thesis;
      }
      .timetableWidget {
        grid-area: timetable-widget;
      }
    }

    @media (min-width: $largeBreakpoint) {
      grid-template-areas:
        "tft-comps           tft-comps           tft-comps           tft-comps           typing-challenge typing-challenge typing-challenge typed-rescue     typed-rescue     typed-rescue     "
        "tft-comps           tft-comps           tft-comps           tft-comps           fullscreen-clock fullscreen-clock fullscreen-clock fullscreen-clock fullscreen-clock fullscreen-clock "
        "blocks              blocks              blocks              blocks              blocks           blocks           blocks           blocks           blocks           blocks           "
        "pile-the-pieces     pile-the-pieces     pile-the-pieces     pile-the-pieces     bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  "
        "propositional-logic propositional-logic propositional-logic propositional-logic bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  "
        "timetable-widget    timetable-widget    timetable-widget    timetable-widget    bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  bachelor-thesis  "
        ;
      grid-template-columns: repeat(10, 1fr);
    }

    .project {
      position: relative;
      background: transparent;
      box-shadow: 0 0 19px -11px #7e7e7e;
      border-radius: 4px;
      padding: 5px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        grid-area: icon;
        width: 64px;
        height: 64px;
      }

      .title {
        grid-area: title;
        font-family: "Lato";
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        display: flex;
        align-items: center;

        a {
          position: static;
          color: inherit;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }

          &:hover, &:focus, &:active {
            text-decoration: none;
          }
        }
      }

      .code {
        grid-area: code;
        margin: 0;

        a {
          color: $fgColor;
          text-decoration: none;
          border-bottom: 1px solid $accentColor1;
        }

        a:hover,
        a:focus {
          color: $fgColor;
          text-decoration: none;
          background-color: $accentColor1;
          border-bottom: 1px solid $accentColor1;
        }

        a:active {
          color: $fgColor;
          text-decoration: none;
          background-color: darken($accentColor1, 10);
          border-bottom: 1px solid darken($accentColor1, 10);
        }
      }

      .description {
        grid-area: description;
        margin: 0;
      }

      .preview {
        grid-area: preview;
        width: calc(100% + 10px);
        margin: 5px -5px -5px;
        border-radius: 0 0 4px 4px;
      }

      &:hover,
      &:focus {
        background: $primaryColor2;
        color: $fgColor;
      }

      &:active {
        background: darken($primaryColor2, 10);
        border-color: darken($borderColor, 10);
      }

      a {
        position: relative;
        z-index: 1;
      }

      display: grid;
      align-content: start;
      column-gap: 5px;
      grid-template-areas:
        "icon           title       "
        "icon           code        "
        ".              .           "
        "description    description "
        "preview        preview     "
        ;
      grid-template-rows: 1fr min-content 5px min-content min-content;
      grid-template-columns: min-content 1fr;

      @media (min-width: $mediumBreakpoint) {
        padding: 10px;
        margin-bottom: 0;

        column-gap: 10px;
        grid-template-areas:
          "icon    title       "
          "icon    .           "
          "icon    code        "
          "icon    .           "
          "icon    description "
          "preview preview     "
          ;
        grid-template-rows: min-content 5px min-content 10px 1fr min-content;

        .icon {
          width: 96px;
          height: 96px;
        }

        .title {
          display: block;
        }

        .preview {
          width: calc(100% + 20px);
          margin: 10px -10px -10px;
        }

        &:has(.preview.small) {
          grid-template-areas:
            "icon    title       . preview preview "
            "icon    .           . preview preview "
            "icon    code        . preview preview "
            "icon    .           . preview preview "
            "icon    description . preview preview "
            ;
          grid-template-rows: min-content 5px min-content 10px 1fr;
          grid-template-columns: min-content 1fr 10px 1fr 96px;

          .preview.small {
            width: 100%;
            margin: 0;
            align-self: center;
            border-radius: 4px;
          }
        }
      }

      @media (min-width: $largeBreakpoint) {
        padding: 15px;

        .icon {
          width: 128px;
          height: 128px;
        }

        .preview {
          width: calc(100% + 30px);
          margin: 15px -15px -15px;
        }

        &:has(.preview.small) {
          grid-template-areas:
            "icon    title       "
            "icon    .           "
            "icon    code        "
            "icon    .           "
            "icon    description "
            "preview preview     "
            ;
          grid-template-rows: min-content 5px min-content 10px 1fr min-content;
          grid-template-columns: min-content 1fr;

          .preview.small {
            width: calc(100% + 30px);
            margin: 15px -15px -15px;
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }
  }

  .pileThePieces {
    #field {
      background: url(/pile-the-pieces/pile-the-pieces/img/field.png);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    #nextPiece {
      background: url(/pile-the-pieces/pile-the-pieces/img/field.png);
      width: 80px;
      height: 80px;
      margin: auto;
    }

    #game {
      position: relative;
      width: 216px;
      height: 416px;
      vertical-align: middle;
    }

    #status {
      width: 200px;
      position: absolute;
      top: 181px;
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
      color: #fff;
      height: 38px;
      line-height: 30px;
      font-size: 30px;
      vertical-align: middle;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-width: 1px 0;
    }

    h4 {
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
}

footer {
  .well {
    text-align: left;
    background: $accentColor2;
  }

  text-align: center;
  margin: 20px 0;

  .legal {
    position: relative;

    summary {
      cursor: pointer;
      display: inline;
      position: relative;

      &::-webkit-details-marker {
        display: none;
      }


      &::after {
        content: "";
        border-bottom: 1px dashed #888;

        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
      }
    }

    .notice {
      display: block;
      position: absolute;
      bottom: 23px;
      left: 0;
      right: 0;

      background-color: lighten($bgColor, 1);
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: 4px;
      text-align: left;

      z-index: 1;
    }
  }
}
