---
---

$fgColor: #303f4a;

$bgColor1: #F2EEF5; // light grey blue
$bgColor2: #D1D2E8; // grey blue
$bgColor3: #F8FCFF; // whitish
$bgColor4: #D1E8E5; // dark grey blue
$bgColor5: #BCF2CD; // light green grey blue

body {
  background-color: $bgColor3;
  color: $fgColor;
  font-size: 16px;
  font-family: "PT Sans", "Helvetica Neue", "sans-serif";
  -moz-osx-font-smoothing: grayscale; // don't let ff draw fonts too bold
}

header {
  font-family: "Lato", "Helvetica Neue", "sans-serif";

  h1 {
    letter-spacing: 1px;
  }

  a, a:active, a:hover, a:focus {
    color: $fgColor;
    text-decoration: none;
    background: none;
  }

  nav .nav li {
    a {
      color: $fgColor;
      background: transparent;
    }

    a:hover, a:focus {
      background: $bgColor1;
      color: $fgColor;
    }

    a:active {
      background: darken($bgColor1, 10);
    }
  }
}

.summary {
  .icon {
    text-align: center;
  }

  .actions {
    .btn-primary {
      background-color: $bgColor5;
      color: $fgColor;
      border-color: darken($bgColor5, 50);
    }
    .btn-primary:hover, .btn-primary:focus {
      background-color: darken($bgColor5, 10);
    }
    .btn-primary:active {
      background-color: darken($bgColor5, 20);
      color: $bgColor3;
    }

    .btn-default {
      background-color: $bgColor4;
      border-color: darken($bgColor4, 50);
    }
    .btn-default:hover, .btn-default:focus {
      background-color: darken($bgColor4, 10);
    }
    .btn-default:active {
      background-color: darken($bgColor4, 20);
      color: $bgColor3;
    }
  }
}


main {
  a {
    color: $fgColor;
    text-decoration: none;
    border-bottom: 1px solid $bgColor2;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: $fgColor;
    text-decoration: none;
    background-color: darken($bgColor2, 0);
    border-bottom: 1px solid darken($bgColor2, 0);
  }

  a:active {
    color: $fgColor;
    text-decoration: none;
    background-color: darken($bgColor2, 10);
    border-bottom: 1px solid darken($bgColor2, 10);
  }

  .alert-info {
    background-color: lighten($bgColor4, 7);
  }

  ul.keywords li:before {
    content: "#";
  }

  .projects {
    h3 {
      font-family: "Lato";
      font-size: 20px;
      font-weight: bold;
      margin-top: 0;
    }

    img {
      margin: 0 10px 0 0;
      float: left;
    }

    p {
      margin: 0;
    }

    a, a:hover, a:active, a:focus {
      display: block;
      background: none;
      border-bottom: none;
    }

    a .panel {
      border-color: #ddd;
    }

    a:hover .panel, a:focus .panel {
      background: $bgColor1;
      color: $fgColor;
    }

    a:active .panel {
      background: darken($bgColor1, 10);
      border-color: darken(#ddd, 10);
    }

    .panel-default, .panel-default:active {
      background: transparent;
    }
  }
}

footer {
  .well {
    text-align: left;
    background: lighten($bgColor1, 2);
  }

  text-align: center;
  margin-bottom: 20px;
}
