<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover the portfolio of Till Theis. Learn more about his projects, skills, and passion for web and software development.">
    <title>Till Theis</title>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/default.css">
  </head>
  <body>
    <div class="root">

      <header class="page-header" style="text-align: center;">
        <h1><a href="/">Till Theis</a></h1>
        <nav>
          <ul>
            <li><a href="mailto:theis.till@gmail.com"><i class="fa fa-envelope-o"></i> Email</a></li>
            <li><a href="https://github.com/tilltheis"><i class="fa fa-github"></i> GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/till-theis-13182b103"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://www.xing.com/profile/Till_Theis"><i class="fa fa-xing"></i> XING</a></li>
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>


      <footer>
        Copyright © 2023 Till Theis

        <details class="legal">
          <summary>Legal Notice</summary>
          
          <div class="notice">
            Information on this website is provided without any warranty and its usage is completely at your own risk.
            I can not be held responsible for usage or misusage of any data, provided here.
            I do not own any trademarks which may be mentioned on this site.
            All trademarks belong to their respective owners.
          </div>
        </details>
      </footer>

    </div>

    <script src="https://cdn.counter.dev/script.js" data-id="6687c161-9a73-4be2-9fa1-71470b2190d4" data-utcoffset="1"></script>
  </body>
</html>
