<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Till Theis</title>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/assets/css/default.css">
  </head>
  <body>
    <div class="container">

      <header class="page-header" style="text-align: center;">
        <h1><a href="/">Till Theis</a></h1>
        <nav>
          <ul class="nav nav-justified ">
            <li><a href="mailto:theis.till@gmail.com"><i class="fa fa-envelope-o"></i> Email</a></li>
            <li><a href="https://github.com/tilltheis"><i class="fa fa-github"></i> GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/till-theis-13182b103"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://www.xing.com/profile/Till_Theis"><i class="fa fa-xing"></i> XING</a></li>
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>


      <footer>
        <div class="well well-sm">
          Information on this website is provided without any warranty and its usage is completely at your own risk. I can not be held responsible for usage or misusage of any data, provided here. I do not own any trademarks which may be mentioned on this site. All trademarks belong to their respective owners.
        </div>

        Copyright © 2022 Till Theis
      </footer>

    </div>

    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"till",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
  </body>
</html>
